page-police-station {

}

#content {
   background-color: white;
}

#call911 {
   color:red;
   text-align: center;
   background-color: greenyellow;
}

#policeimg {
   display:block;
   margin:0 auto;
}

.contactHeader {
  padding-top: 10px;
}

.contactDetail {
  margin-left:10px;
}