page-police-station {

}

#main {
   background-color: white;
}

.content {
  padding: 10px;

}

#call911 {
   color:red;
   text-align: center;
   background-color: greenyellow;
   height:30px;
   padding: 7px;
}

#policeimg {
   display:block;
   margin:0 auto;
}

.contactHeader {
  padding-top: 10px;
  font-weight: bold;
  
}

.contactDetail {
  margin-left:10px;
}

.descriptionText {
  padding-top:10px;
}

.mapLink {
  margin-top:15px;
  margin-left:10px;
  
}